.grid-container {
    background-color: rgba(86, 92, 89, 0.8);
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(7, minmax(20px, 1fr));
    grid-template-rows: repeat(12, 25px);
    min-width: 210px;
    width: 100%;

    @apply max-w-xs lg:max-w-lg;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.from, .to {
    background-color: var(--brand-dark-color);
}


.lttr, .link {
     border: 1px black solid;
}

.lttr {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selected {
    background-color: var(--brand-dark-color);
}

.un-selected{
    background-color: rgba(49, 193, 241, 0.7);
}

.link {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info-link{
    background-color: white;
}

.simple-link {
    color: black;
    background-color: white;
}

.result{
    background-color: var(--brand-dark-color);
}