
:root {
    --brand-dark-color: rgb(49, 46, 129);
    --brand-light-color: rgb(236, 72, 153);
    --brand-bg-color: rgb(229, 231, 235);
    --brand-footer-color: rgb(31, 41, 55);
}

.app-container {
    background-color: var(--brand-bg-color);

    @apply w-full min-h-screen relative;
}

.main-content-wrapper {
    @apply w-full h-auto mb-24;
}

.content {
    max-width: 1000px;
    @apply pt-6 w-10/12 mx-auto min-h-screen lg:pt-24;
}

.title {
    color: var(--brand-dark-color);
    @apply pt-4 text-3xl text-center font-black font-playfair md:text-4xl lg:text-5xl lg:pt-24;
}

.line {
    @apply mx-auto w-6 h-1 bg-indigo-900 mt-3 md:w-10;
}

.explanation {
    color: var(--brand-dark-color);
    @apply mt-8 w-10/12 text-lg mx-auto md:mt-16;
}

.actions-container {
    @apply flex mt-12 mx-auto justify-between items-center;
}

.preview-section {
    @apply mt-2 flex flex-col w-full xl:flex-row xl:flex-wrap xl:justify-around;
}

.preview-link {

    max-width: 450px;
    min-width: 250px;
    box-shadow: 0 0 12px rgba(27, 26, 32, 0.5);

    @apply mx-auto relative xl:mx-0;
}

.preview-section .preview-link:first-child {
    @apply mt-4 xl:mt-10;
}

.preview-section .preview-link {
    @apply mt-10;
}

.preview-link:hover {
    box-shadow: 0 0 12px rgba(46, 26, 129, 0.8);
}

.preview-link:hover .preview-overlay {
    @apply opacity-100;
}

.preview-overlay {
    transition: 0.5s ease-in-out;
    top: 0%;
    left: 0%;
    @apply flex absolute justify-center items-center opacity-0 w-full h-full bg-indigo-900;
}

.preview-text {
    @apply text-center text-white text-2xl font-lora font-black md:text-2xl;
}

.preview-image {
    display: flex;

    @apply w-full;
}

/* BUTTON */
.button {
    @apply font-lora text-lg font-black rounded-md px-4 py-2 sm:text-xl;
}

.action-button {

    background-color: var(--brand-light-color);
    @apply text-white font-black hover:bg-gray-800;
}